* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 120px 1fr 60px;
    grid-template-columns: 1fr;
    grid-template-areas: "cabecalho" "principal" "rodape";

}
.cabecalho{
    grid-area: cabecalho;
    background-color: #1867c0;
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    box-shadow: 0px 3px 13px 3px rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.cabecalho > h1{
    margin:0px;
    font-weight: 400;
    font-size: 2.8rem;
}
.cabecalho > h2{
    margin: 0px;
    font-weight: 300;
    font-size: 1.6rem;
    padding-top: 0.5rem;
}
.principal{
    grid-area: principal;
    height: calc(100vh - 180px);
    background-color: #f0f0f0;
    padding: 20px;
}
.conteudo{
    position: relative;
    height: 100%;
    overflow-y: scroll;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 3px 13px 3px rgba(0, 0, 0, 0.4);
}
.rodape{
    grid-area: rodape;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    padding-right: 20px;
    color: #444;
}
.modulos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.modulo{
    flex-basis: 32%;
    margin-bottom: 2rem;
    border-radius: .2rem;
}
.modulo > h3{
    margin: 0px;
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #1867c0;
}
.modulo > ul{
    margin: 0px;
    padding: 10px;
    list-style: none;
}
.modulo > ul > li{
    padding: 7px;
    font-size: 1.2rem;
    cursor: pointer;
}
.modulo > ul > li > a{
    display: flex;
    text-decoration: none;
    color: #222;
}
.modulo > ul > li:hover{
    background-color: #EEE;
}
.modulo.verde {border: 2px solid #4CAF50;}
.modulo.verde > h3{background-color: #4CAF50;}
.modulo.vermelho {border: 2px solid #F44336;}
.modulo.vermelho > h3{background-color: #F44336;}
.modulo.azul {border: 2px solid #2196f3;}
.modulo.azul > h3{background-color: #2196f3;}
.modulo.roxo {border: 2px solid #6F38C5;}
.modulo.roxo > h3{background-color: #6F38C5;}
.modulo.laranja {border: 2px solid #FD841F;}
.modulo.laranja > h3{background-color: #FD841F;}
.modulo.verde2 {border: 2px solid #319DA0;}
.modulo.verde2 > h3{background-color: #319DA0;}
.modulo.vermelho2 {border: 2px solid #D61C4E;}
.modulo.vermelho2 > h3{background-color: #D61C4E;}
.modulo.amarelo {border: 2px solid #FFB200;}
.modulo.amarelo > h3{background-color: #FFB200;}
.modulo.azul2 {border: 2px solid #002B5B;}
.modulo.azul2 > h3{background-color: #002B5B;}